altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.12.1
attrs==25.4.0
black==26.3.0
blinker==1.9.0
cachetools==6.2.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
coverage==7.13.5
cowsay==6.1
cryptography==46.0.5
dj-database-url==3.1.0
dj-rest-auth==7.0.2
Django==5.2.16
django-allauth==65.14.3
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
django-environ==0.13.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==40.11.1
fastapi==0.135.2
gitdb==4.0.12
GitPython==3.1.45
gunicorn==25.1.0
h11==0.16.0
idna==3.11
inflection==0.5.1
iniconfig==2.1.0
jellyfish==1.2.1
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lib50==3.2.1
lxml==6.1.0
MarkupSafe==3.0.3
mypy_extensions==1.1.0
narwhals==2.8.0
numpy==2.3.4
oauthlib==3.3.1
packaging==25.0
pandas==2.3.3
pathspec==1.0.4
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.9.4
pluggy==1.6.0
protobuf==6.33.0
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pyarrow==21.0.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.11.0
pytest==8.4.2
pytest-cov==7.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.27.1
ruff==0.15.8
setuptools==83.0.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.5
starlette==1.0.0
streamlit==1.50.0
submit50==3.2.1
tabulate==0.9.0
tenacity==9.1.2
termcolor==1.1.0
toml==0.10.2
tornado==6.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
validator-collection==1.5.0
validators==0.35.0
watchdog==6.0.0
whitenoise==6.11.0

